stepfunctions/sample/m365-2-2-group1.json
{
  "Comment": "m365-group1 VPC State Machine",
  "StartAt": "m365-3-1-CheckPendingFlagFile",
  "States": {
    "m365-3-1-CheckPendingFlagFile": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:headObject",
      "Parameters": {
        "Bucket": "XXXXXXXXXXXX",
        "Key": "sf_pending/m365-3-1-ColConvDomain-group1/flg.txt"
      },
      "ResultPath": null,
      "Catch": [
        {
          "ErrorEquals": [
            "S3.NoSuchKey",
            "NoSuchKey",
            "S3.NotFound",
            "NotFound"
          ],
          "ResultPath": null,
          "Next": "m365-3-1-ColConvDomain-group1"
        }
      ],
      "Next": "m365-3-1-WaitPendingFlagFile"
    },
    "m365-3-1-WaitPendingFlagFile": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "m365-3-1-CheckPendingFlagFile"
    },
    "m365-3-1-ColConvDomain-group1": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync",
      "Parameters": {
        "StateMachineArn": "arn:aws:states:ap-northeast-1:XXXXXXXXXX:stateMachine:m365-3-1-ColConvDomain-group1",
        "Input": {
          "group.$": "$.group"
        }
      },
      "ResultPath": null,
      "Next": "m365-3-2-CheckPendingFlagFile"
    },
    "m365-3-2-CheckPendingFlagFile": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:headObject",
      "Parameters": {
        "Bucket": "XXXXXXXXXXXX",
        "Key": "sf_pending/m365-3-2-UpdateCatalog/flg.txt"
      },
      "ResultPath": null,
      "Catch": [
        {
          "ErrorEquals": [
            "S3.NoSuchKey",
            "NoSuchKey",
            "S3.NotFound",
            "NotFound"
          ],
          "ResultPath": null,
          "Next": "m365-3-2-UpdateCatalog"
        }
      ],
      "Next": "m365-3-2-WaitPendingFlagFile"
    },
    "m365-3-2-WaitPendingFlagFile": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "m365-3-2-CheckPendingFlagFile"
    },
    "m365-3-2-UpdateCatalog": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync",
      "Parameters": {
        "StateMachineArn": "arn:aws:states:ap-northeast-1:XXXXXXXXXX:stateMachine:m365-3-2-UpdateCatalog",
        "Input": {
          "group.$": "$.group"
        }
      },
      "ResultPath": null,
      "Next": "Parallel"
    },
    "Parallel": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "m365-3-3-UpdateType",
          "States": {
            "m365-3-3-UpdateType": {
              "Type": "Task",
              "Resource": "arn:aws:states:::states:startExecution.sync",
              "Parameters": {
                "StateMachineArn": "arn:aws:states:ap-northeast-1:XXXXXXXXXX:stateMachine:m365-3-3-UpdateType",
                "Input": {
                  "group.$": "$.group"
                }
              },
              "ResultPath": null,
              "End": true
            }
          }
        },
        {
          "StartAt": "m365-3-3-CheckDataQuality",
          "States": {
            "m365-3-3-CheckDataQuality": {
              "Type": "Task",
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "arn:aws:ecs:ap-northeast-1:XXXXXXXXXX:cluster/m365_M365Conatainer",
                "TaskDefinition": "m365_M365Container-M365DataQuality",
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "dataquality",
                      "Environment": [
                        {
                          "Name": "GROUP",
                          "Value.$": "$.group"
                        }
                      ]
                    }
                  ]
                },
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": [
                      "XXXXXXXXXXXX"
                    ],
                    "SecurityGroups": [
                      "XXXXXXXXXXXX"
                    ],
                    "AssignPublicIp": "DISABLED"
                  }
                }
              },
              "TimeoutSeconds": 900,
              "ResultPath": null,
              "End": true
            }
          }
        },
        {
          "StartAt": "m365-3-3-DataGarbage",
          "States": {
            "m365-3-3-DataGarbage": {
              "Type": "Pass",
              "End": true
            }
          }
        }
      ],
      "ResultPath": null,
      "End": true
    }
  }
}