stepfunctions/sample/m365-3-3-CheckDataQuality.json
{
  "Comment": "m365-3-3-CheckDataQuality State Machine groups",
  "StartAt": "m365-3-3-CheckDataQuality",
  "States": {
    "m365-3-3-CheckDataQuality": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "arn:aws:ecs:ap-northeast-1:XXXXXXXXXX:cluster/m365_M365Conatainer",
        "TaskDefinition": "m365_M365Container-M365DataQuality",
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "dataquality",
              "Environment": [
                {
                  "Name": "GROUP",
                  "Value.$": "$.group"
                }
              ]
            }
          ]
        },
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": [
              "XXXXXXXXXXXX"
            ],
            "SecurityGroups": [
              "XXXXXXXXXXXX"
            ],
            "AssignPublicIp": "DISABLED"
          }
        }
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.CheckDataQualityError",
          "Next": "m365-3-3-CheckDataQuality-HandleError"
        }
      ],
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 1,
          "JitterStrategy": "FULL",
          "IntervalSeconds": 5,
          "MaxAttempts": 10
        }
      ],
      "TimeoutSeconds": 900,
      "ResultPath": "$.CheckDataQualityResult",
      "Next": "m365-3-3-CheckDataQuality-Success"
    },
    "m365-3-3-CheckDataQuality-HandleError": {
      "Type": "Choice",
      "Choices": [
        {
          "Or": [
            {
              "Variable": "$.CheckDataQualityError.Cause",
              "StringMatches": "*ExitCode*1*"
            },
            {
              "Variable": "$.CheckDataQualityError.Cause",
              "StringMatches": "*exitCode*1*"
            }
          ],
          "Next": "m365-3-3-CheckDataQuality-BusinessFailed"
        }
      ],
      "Default": "m365-3-3-CheckDataQuality-SystemError"
    },
    "m365-3-3-CheckDataQuality-BusinessFailed": {
      "Type": "Fail",
      "Error": "BusinessFailed",
      "Cause": "CheckDataQuality business failure"
    },
    "m365-3-3-CheckDataQuality-SystemError": {
      "Type": "Fail",
      "Error": "StatesError",
      "Cause": "CheckDataQuality failed with an exception/timeout"
    },
    "m365-3-3-CheckDataQuality-Success": {
      "Type": "Succeed"
    }
  }
}